ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
html {
  min-width: 1000px;
}
body {
  width: 100%;
}
header,
main,
.container,
footer {
  width: 960px;
  margin: 0 auto;
}
main {
  display: flex;
}
.content {
  flex: 1;
}
a {
  text-decoration: none;
  color: #3a7cd7;
}
header {
  display: flex;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
}
header h1 {
  font-size: 23px;
  margin: 0 40px 0 0;
  padding: 0;
}
header h1 a {
  color: #000;
}
header ul {
  display: flex;
}
header li {
  margin: 0 10px;
}
header li:first-child {
  margin-left: 0;
}
header li:last-child {
  margin-right: 0;
}
header a {
  color: #666;
}
header li.active a {
  color: #000;
  font-weight: bold;
}
footer {
  height: 60px;
  line-height: 60px;
}
.left-nav {
  width: 300px;
}
.left-nav li {
  padding: 2px 0;
}
.left-nav li li {
  margin-left: 15px;
}
