ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
html {
  min-width: 1000px;
}
body {
  width: 100%;
}
header,
main,
footer {
  width: 960px;
  margin: 0 auto;
}
main {
  display: flex;
}
.container {
  flex: 1;
}
.container h1:first-child {
  margin-top: 0;
}
a {
  text-decoration: none;
  color: #3a7cd7;
}
.notification {
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px 15px;
  color: #333;
}
pre {
  background: #f8f8f8;
  border-radius: 2px;
  padding: 15px 15px;
}
.hljs-comment {
  color: #8e908c;
}
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #c82829;
}
.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #f5871f;
}
.ruby .hljs-class .hljs-title,
.css .hljs-rule .hljs-attribute {
  color: #eab700;
}
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.hljs-name,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #718c00;
}
.hljs-title,
.css .hljs-hexcolor {
  color: #3e999f;
}
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #4271ae;
}
.hljs-keyword,
.javascript .hljs-function {
  color: #8959a8;
}
.hljs {
  display: block;
  overflow-x: auto;
  background: #fff;
  color: #4d4d4c;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}
.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
.hide {
  display: none;
}
header {
  display: flex;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
}
header h1 {
  font-size: 23px;
  margin: 0 40px 0 0;
  padding: 0;
}
header h1 a {
  color: #000;
}
header ul {
  display: flex;
}
header li {
  margin: 0 10px;
}
header li:first-child {
  margin-left: 0;
}
header li:last-child {
  margin-right: 0;
}
header a {
  color: #666;
}
header li.active a {
  color: #000;
  font-weight: bold;
}
footer {
  height: 60px;
  line-height: 60px;
}
.left-nav {
  width: 300px;
}
.left-nav li {
  padding: 2px 0;
}
.left-nav li li {
  margin-left: 15px;
}
.pill-nav {
  display: flex;
  border-radius: 3px;
  margin: 0 auto;
  justify-content: center;
}
.pill-nav li a {
  border: 1px solid #333;
  padding: 8px 24px;
  color: #333;
  font-size: 14px;
}
.pill-nav li a.active,
.pill-nav li a:hover {
  color: #fff;
  background: #333;
}
.pill-nav li:first-child a {
  border-radius: 5px 0 0 5px;
}
.pill-nav li:last-child a {
  border-radius: 0 5px 5px 0;
}
.pill-nav li + li a {
  border-left: 0;
}
.access-inherited,
.access-public,
.access-private {
  display: none;
}
.show-inherited .access-inherited {
  display: block;
}
.show-private .access-private {
  display: block;
}
.show-public .access-public {
  display: block;
}
