.access-inherited,
.access-public,
.access-private
  display none
  
.show-inherited .access-inherited
  display block

.show-private .access-private
  display block
  
.show-public .access-public
  display block