.access-inherited,
.access-public,
.access-private
  display none
  
.show-inherited .access-inherited
  display block

.show-private .access-private
  display block
  
.show-public .access-public
  display block
  
.api-description
  margin-bottom 30px
  
.access-toggles
  centered-horizontal-nav()
  margin-bottom 25px
  
  li
    margin 0 10px
  